<nav class="nav">
  <div class="nav-left">
    <span class="nav-item">
      About
    </span>
    <span class="nav-item">
      Examples
    </span>
  </div>

  <div class="nav-center">
    <span class="nav-item">
      MakotoTheKnight
    </span>
  </div>

  <div class="nav-right">
    <span class="nav-item">
      Blog
    </span>
    <span class="nav-item">
      Contact
    </span>
  </div>

  <div class="nav-toggle">
    <span class="nav-item">
      About
    </span>
    <span class="nav-item">
      Examples
    </span>
    <span class="nav-item">
      Blog
    </span>
    <span class="nav-item">
      Contact
    </span>
  </div>
</nav>

